body
  padding: 50px
  background black
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.logo img
    display block
    margin:auto
.start
    width 225px
    height 47px
    display block
    margin:auto
    background-repeat no-repeat
    background-image: url('/images/start_n.png');
    &:hover { background-image: url('/images/start_p.png'); }




