body {
  padding: 50px;
  background: #000;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.logo img {
  display: block;
  margin: auto;
}
.start {
  width: 225px;
  height: 47px;
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("/images/start_n.png");
}
.start:hover {
  background-image: url("/images/start_p.png");
}
